.App {
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav ul li{
  display: inline-flex;
  margin: 0 1rem 0 1rem;
  color: white;
  text-decoration: none;
}

.search-bar {
  justify-content: center;
  display: flex;
  background-color: gray;
  padding: 0.5rem;
}

.search-bar input {
  font-size: calc(10px + 2vmin);
  border-radius: 0.2rem;
}

.search-bar button {
  box-shadow: 0.1rem 0.1rem black;
}